@media screen and (max-width:1185px) {

    /* Home */
    #home {
        min-height: 100%;
        padding-top: 0;
    }

    #hero-image,
    #hero-image img,
    #home .background-shape {
        display: none;
    }

    #call-to-action {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* Menu */
    #menu-items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-item-card {
        width: calc(50% - 0.75rem);
    }

    /* Testimonials */
    #testimonials {
        flex-direction: column;
    }

    #chef-image {
        width: 31.25rem;
    }
}

/* ===================
   Máx. 37.5rem 
   =================== */
@media screen and (max-width: 600px) {

    /* Menu */
    .menu-item-card {
        width: 100%;
    }

    #food-menu .section-subtitle {
        text-align: center;
    }

    /* Testimonials */
    #chef-image {
        display: none;
    }
}

/* ===================
   Máx. 28.125rem 
   =================== */
@media screen and (max-width: 28.125rem) {
    #phone-btn button {
        display: none;
    }
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .menu-button {
        display: flex;
    }
}

@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }

    .menu-overlay {
        display: none;
    }
}